@import url(./__card/modal__card.css);
@import url(./__exit/modal__exit.css);
@import url(./__heading/modal__heading.css);
@import url(./__form/modal__form.css);
@import url(./__input/modal__input.css);
@import url(./__submit/modal__submit.css);
@import url(./__image-figure/modal__image-figure.css);
@import url(./__image-caption/modal__image-caption.css);
@import url(./__image-background/modal__image-background.css);
@import url(./__image-container/modal__image-container.css);
@import url(./__type_image/modal__type_image.css);
@import url(./__card_type_image/modal__card_type_image.css);
@import url(./__input/modal__input_type_error.css);
@import url(./__submit/modal__submit_disabled.css);
@import url(./__error/modal__error_visible.css);
@import url(./__submit/modal__submit_type-avatar.css);
@import url(./__form/modal__form_type-edit-avatar.css);
@import url(./__heading/modal__heading-avatar.css);
@import url(./__form/modal__form_type-delete-card.css);

.modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal_visible.modal__type_image {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.9);
}
