.profile__profession {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 584px) {
  .profile__name {
    font-size: 14px;
    line-height: 17px;
  }
}
