.footer__copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-bottom: 60px;
  margin-top: 66px;
}

@media screen and (max-width: 440px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
  }
}
