.profile__edit {
  background-image: url("./../../../../src/images/pencil-vector.svg");
  position: absolute;
  top: 19px;
  right: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: #000;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

@media screen and (max-width: 584px) {
  .profile__edit {
    top: 6px;
    width: 18px;
    height: 18px;
  }
}
