.modal__input {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  height: 26px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: none;
  margin: 37px 36px 30px;
}

.modal__input:last-of-type {
  margin: 0 36px;
}

@media screen and (min-width: 0) and (max-width: 550px) {
  .modal__input {
    max-width: 70%;
  }
}
