.photo-grid__items {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-row-gap: 21px;
  grid-column-gap: 18px;
}

@media screen and (max-width: 884px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    justify-content: center;
  }
}

@media screen and (max-width: 584px) {
  .photo-grid__items {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 361px);
    justify-content: center;
  }
}
