.modal__heading{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 36px auto 0;
  width: 358px;
}

@media screen and (min-width: 0) and (max-width: 550px) {
  .modal__heading {
      width: 169px;
      margin: 24px 36px 0;
    }
  }