@import url(./__card/modal__card.css);
@import url(./__exit/modal__exit.css);
@import url(./__heading/modal__heading.css);
@import url(./__form/modal__form.css);
@import url(./__name/modal__name.css);
@import url(./__input/modal__input.css);
@import url(./__profession/modal__profession.css);
@import url(./__submit/modal__submit.css);

.modal {
  display: none;
  position:fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}


.modal_visible {
  display: flex;
}

