.photo-grid__trash{
  display: none;
  background: transparent url('./../../../../src/images/trash.svg') center no-repeat;
  position: absolute;
  top: 19px;
  right: 15px;
  border: none;
  height: 19.3px;
  width: 18px;
}

.photo-grid__trash_visible{
  display: block
}