.modal__submit_type-avatar {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  border: none;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.modal__submit_type-avatar:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .modal__submit_type-avatar {
    font-size: 14px;
    line-height: 17px;
    max-width: 238px;
    height: 46px;
  }
}
